<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <% cache product do %>
      <%= render product %>
      <p>
        <%= link_to "Show this product", product %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
<br>
<%= link_to "back to home page", root_path %>
